
.navbar-dark .navbar-brand{
  color: #dc3545
}
.jumbotron{
  background-image: url(springroll.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  height:auto;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: #7b7a75
}
.navbar-light .navbar-nav .nav-link{
  color:#7b7a75
}
.display-3{
  color:#dc3545
}
.display-4{
  color:#dc3545
}
.display-5{
  color:#dc3545
}
h1{
  font-family: 'Abril Fatface', cursive;
  text-align:center;
}
h2{
  text-align:center;
}
h3{
  text-align: center;
}
h4{
  text-align:center;
  color:#5d5b5b
}
table{
  width:1000px
}
